* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    color: #FFF48C;
    margin-left: 7%;
}

#subtitulo {
    font-family: 'Times New Roman', Times, serif;
    color: #FFF48C;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body {
    background-color: #3C258F;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: #FFEA29;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #FFEA29;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input [type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #FFEA29
    box-shadow 2px 2px 2px black
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: white;
}

.botao {
    font-size: 1em;
    background: #FFEA29;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:haver {
    background: whitesmoke;
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
}

#check {
    display: inline-block;
}